
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #10111D;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.nav-title a{
    text-decoration: none;
    color: #00966B;
    font-size: 24px;
}
.nav-title span{
    font-weight: 800;
    font-family: monospace;
    font-size: 16px;
    color: #00ce43;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    max-width: 100%;
    line-height: 60px;
    border-bottom: 2px solid #00ce43;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    list-style: none;
}
nav ul li{
    text-transform: uppercase;

}

nav ul li a{
    text-decoration: none;
    color: #00966B;
    padding: 10px;
    transition: .50s ease-in-out;
    border-radius: 8px;
}
nav ul li a:hover{
    background-color: #9BD093;
    color: #10111D;
  
}