
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #10111D;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.nav-title a{
    text-decoration: none;
    color: #00966B;
    font-size: 24px;
}
.nav-title span{
    font-weight: 800;
    font-family: monospace;
    font-size: 16px;
    color: #00ce43;
}


nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    max-width: 100%;
    line-height: 60px;
    border-bottom: 2px solid #00ce43;
   
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    list-style: none; 
}
nav ul li{
    text-transform: uppercase;

}

nav ul li a{
    text-decoration: none;
    color: #00966B;
    padding: 10px;
    transition: .50s ease-in-out;
    border-radius: 8px;
}
nav ul li a:hover{
    background-color: #9BD093;
    color: #10111D;
  
}

/* HERO PAGE */

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100%;
    flex-wrap: wrap;

}

.myprofile img{
    opacity: .9;
    height: 250px;
    width: 250px;
    border-bottom: 4px solid #00ce43;
    flex: 100%;
}

/* text part */
.brief-background{
    text-align: center;
    font-size: 14px;
    color: #e2e2e2;
    flex: 100%;
}
.clickme {
    border-radius: 8px;
    margin-top: 50px;
}
.clickme p{
   margin-bottom: 25px;
   font-size: 14px;
}
.clickme a{
    text-decoration: none;
    border: 1px solid #00ce43;
    border-radius: 8px;
    padding: 8px;
    color: #eeee;
}
.clickme a:hover{
    background-color: #00966B;
    color: #10111D; 
}

@media screen and (min-width:800px) {

    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
    }
    .myprofile img{
        opacity: .9;
        height: 100%;
        width: 450px;
        border-bottom: none;
    }
    
    /* text part */
    .brief-background{
        text-align: left;
        font-size: 16px;
    }
    .back-style .one {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: rgba(0,206,67,.10);
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .back-style .two{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgba(0,206,67,.10);;
        position: absolute;
        top: 60%;
        bottom: 0;
        left: 20%;
        right: 0;
    }
    .back-style .three{
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background-color: rgba(0,206,67,.10);;
        position: absolute;
        top: 35%;
        bottom: 0;
        left: 0;
    }
    
}
@media screen and (max-width:790px) {
    nav{
        display: block;
        text-align: center;
    }
    nav ul{
        display: block;
        text-align: left;
    }
}